/*style general du fichier*/

body {
    opacity: 90%;
    background-color: #ededed;
}

header {
    border-bottom-style: groove;
}

header>h1 {
    text-align: left;
}

section {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 2fr 2fr;
}

div {
    margin-left: 120px;
    padding: 15px;
}

nav {
    border-right-style: groove;
    width: 100%;
    position: sticky;
    top: 0px;
    min-width: 210px;
}


/*Partie pour le menu deroulant*/

nav ul {
    list-style: none;
    text-transform: uppercase;
}

nav ul li {
    text-align: center;
    height: 30px;
}

nav ul li a {
    text-decoration: none;
    color: #404edc;
}

nav ul li ul {
    display: none;
    z-index: 1;
    margin-top: -19px;
}


/* Mode Dynamique */

nav ul li:hover ul {
    display: block;
    position: relative;
    width: 80%;
    margin-left: 170px;
}


/* Les Couleurs */

nav>ul>li:hover {
    background-color: #eddedc;
}

nav>ul>li:hover ul li:hover {
    opacity: 90%;
    background-color: #eebbbb;
}


/*A perfectionner car n'est pas toujours vrai  mais repond au demande*/

nav>ul>li:hover:first-child {
    background-color: #eebbbb;
}

nav>ul>li:hover:nth-child(1n+4) {
    background-color: #eebbbb;
}